* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #f7f5fa;
  --primary-text-color: #1f1f1f;
  --accent: #bfa2db;
  --hover: #cdb4db;
  --cards: #ffffff;
  --text-highlighter: #7a49a9;
  --font-heading: "Raleway", sans-serif;
  --font-sub-heading: "Nunito", sans-serif;
  --secondary-color: #535353;
}

body {
  background: var(--background-color);
}

/* Navigation */
nav {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav > ul {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  border: 1px solid rgb(225, 224, 224);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 15px 0 var(--accent);
  background-color: var(--text-highlighter);
}

li.nav-item {
  list-style-type: none;
}

li.nav-item > a {
  font-family: var(--font-sub-heading);
  text-decoration: none;
  color: var(--cards);
}

li.nav-item:hover {
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.2);
  transition: transform 1.2 ease;
}

li.nav-item > a:hover {
  color: var(--hover);
}

/* Hero Section 

main.hero {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

section#hero-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#hero-info > div {
  text-align: start;
}

h2#firstname {
  font-family: var(--font-heading);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 4rem;
}

h1#lastname {
  font-family: var(--font-heading);
  font-size: 6rem;
  text-transform: uppercase;
}

#content-wrapper {
  width: 80%;
}

button#download-cv {
  padding: 10px 10px;
  font-family: var(--font-sub-heading);
  background-color: var(--accent);
  border-radius: 10px;
  width: 231px;
  outline: none;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--cards);
  box-shadow: 0 4px 4px 0 #0000002c;
}

section#hero-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#hero-image > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

img#hero-image {
  width: 600px;
  height: 600px;
}

*/

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 3rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.hero-left > div#top-left,
.hero-left > div#bottom-left,
.hero-left > div#top-right,
.hero-left > div#bottom-right {
  flex: 1;
  min-width: 400px;
}

.hero-left > div#bottom-left,
.hero-right > div#bottom-right {
  width: 100%;
  height: 50%;
  text-align: end;
}

#top-left h1 {
  font-size: 4rem;
  font-family: var(--font-heading);
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-left .tagline {
  font-size: 1rem;
  color: var(--secondary-color);
  text-align: end;
  font-family: var(--font-sub-heading);
  margin-bottom: 1rem;
}

button#download-cv {
  padding: 10px 10px;
  font-family: var(--font-sub-heading);
  background-color: var(--text-highlighter);
  border-radius: 10px;
  width: 231px;
  outline: none;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--cards);
}

button#download-cv:hover {
  background: var(--accent);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

img#hero-image {
  width: 600px;
  height: 600px;
}

.hero-right h1 {
  font-size: 5rem;
  font-family: var(--font-heading);
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
}

.hero-right p {
  font-size: 1rem;
  color: var(--secondary-color);
  font-family: var(--font-sub-heading);
  line-height: 1.5;
  text-align: left;
}

/* Division */

div.division {
  width: 100%;
  height: 164px;
  background: linear-gradient(to right, #bfa2db, #7a49a9);
}

/* About Me Section */

/* Left Section */

section.about-me {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#about-me-heading {
  display: flex;
  align-items: center;
  width: 350px;
}

#about-me-heading > h2 {
  font-size: 6rem;
  font-family: var(--font-heading);
  color: var(--primary-text-color);
  white-space: nowrap;
  transform: rotate(-90deg);
  letter-spacing: 2px;
}

#about-me-heading > h2 > span {
  color: var(--text-highlighter);
}

/* Right Section */

div#about-me-info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-sub-heading);
  gap: 2rem;
  padding: 0 2rem;
}

div#about-me-info > p,
div#about-me-info > ul > li {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

div#about-me-info > ul > li {
  list-style-type: none;
  line-height: 1.5;
}

div#about-me-info > ul > li > span {
  color: var(--text-highlighter);
}

section.gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}

section.gallery > div.gallery-cover {
  border: 1px solid rgba(208, 208, 208, 0.66);
  box-shadow: 0 10px 10px 0 var(--accent);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#photo1 {
  transform: rotate(-2deg) scale(1);
}
#photo2 {
  transform: rotate(5deg) scale(1);
}
#photo3 {
  transform: rotate(2deg) scale(1);
}

#photo1:hover,
#photo2:hover,
#photo3:hover {
  transform: scale(1.1) rotate(0deg);
  box-shadow: 0 0 10px 5px var(--accent);
}

div.gallery-cover > img {
  width: 380px;
  height: 380px;
}

/* Skills Section */

section.skills {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-content: center;
}

.skill-heading {
  width: 50%;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--text-highlighter);
}

.skill-heading > h2 {
  font-size: 6rem;
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cards);
}

.skill-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-card {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  align-content: center;
}

.card-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  padding: 0.5rem;
  background: var(--cards);
  color: var(--text-highlighter);
  box-shadow: 0 10px 10px 0 var(--accent);
}

.card-box > img {
  width: 130px;
  height: 130px;
}

.card-box > p {
  font-size: 5rem;
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: bold;
}

.skill-container:first-child {
  background: var(--cards);
}

#skill-1 {
  transform: rotate(-2deg);
}

#skill-2 {
  transform: rotate(0deg);
}

#skill-3 {
  transform: rotate(5deg);
}

#skill-4 {
  transform: rotate(-3deg);
}

#skill-5 {
  transform: rotate(-0deg);
}
